<header>
  <nav aria-label="primary navigation">
    <ul class="nav-list">
      <div class="nav-links">
        <li class="logo">viktoriia-husakova</li>
        <li class="nav-item" routerLinkActive="nav-item_active">
          <a routerLink="home" routerLinkActive="nav-link_active">_hello</a>
        </li>
        <li class="nav-item" routerLinkActive="nav-item_active">
          <a routerLink="about-me" routerLinkActive="nav-link_active">_about-me</a>
        </li>
        <li class="nav-item" routerLinkActive="nav-item_active">
          <a routerLink="projects" routerLinkActive="nav-link_active">_projects</a>
        </li>
      </div>
      <li class="nav-item contact" routerLinkActive="nav-item_active">
        <a routerLink="contact-me" routerLinkActive="nav-link_active">_contact-me</a>
      </li>
    </ul>
  </nav>
</header>

