<div class="home-container">
  <div class="home-container__content">
    <span class="text-lg text-light">Hi all. I am</span>
    <h1>Viktoriia Husakova</h1>
    <h4 class="text-secondary-indigo">> Front-end developer</h4>

    <span>// find my profile on Github:</span>
    <p class="text-md">
      <span class="text-secondary-indigo">const </span>
      <span class="text-secondary-teal">githubLink </span>
      <span>= </span>
      <a target="_blank" href="https://github.com/vgoosakova" class="link">"https://github.com/vgoosakova"</a>
    </p>
  </div>
</div>
